@{
    ViewData["Title"] = "Recetario";
    var defaultImage = "https://menorcana.com/wp-content/uploads/2013/09/PASTEL-ZANAHORIA-1.jpg";
}

<div class="text-center">
    <h1 class="display-4">Bienvenides</h1>
    <h4>Aquí voy guardando todas aquellas recetas que voy haciendo y que me han gustado. Y sin duda repetiré :)</h4>
    <br />
    <br />
    <div>
        <table class="table">
            <caption>Listado de Recetas</caption>
            <tbody>
                @foreach (var receta in Model)
                {
                    <tr>
                        <td rowspan="2">
                            @if (@receta.ImagenPrincipal != null)
                            {
                                <img src="@receta.ImagenPrincipal" alt="@receta.Nombre" width="100" />
                            }
                            else
                            {
                                <img src="@defaultImage" alt="@receta.Nombre" width="100" />
                            }
                        </td>
                        <td style="font-weight: 500">
                            <a action="Details" asp-action="Details" asp-controller="Home" asp-route-categoria="@receta.Categoria" asp-route-id="@receta.Id">@receta.Nombre</a>

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            @receta.Descripcion
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

